::-moz-selection { background: #DDD; background: rgba(255,255,255,0.2); }
::selection { background: #DDD; background: rgba(255,255,255,0.2); }
body { background: url('img/background.jpg'); background-size: cover; background-attachment: fixed; background-color: rgb(98, 223, 247); color: #EFEFEF; }
body::after { content: ""; display: block; position: fixed; top: 0; left: 0; margin: 0; padding: 0; height: 100%; width: 100%; background: rgba(0,0,0,0.55); z-index: 0; }
#page { padding: 0 10px; position: relative; z-index: 10; }
a, #sidebar a { color: #FEFEFE; }
del { color: #CCC; }
a:hover, a:hover p, #sidebar a:hover, a:visited:hover, a:visited:hover p, #sidebar a:visited:hover { color: #D4DA16; border-bottom: 1px dashed #DDD; }
h2 a:hover, h2 a:visited:hover, a:hover p, a:visited:hover p { border: none; }
a:visited, #sidebar a:visited { color: #DDD }
blockquote , q { border-color: rgba(255,255,255,0.7); }
pre , code { background: rgba(0,0,0,0.2); color: #FEFEFE; border: 1.5px solid #AAA; }
pre:hover , code:hover { background: rgba(18,19,20,0.9); color: #FEFEFE; }
pre:focus , code:focus { background: rgba(18,19,20,0.9); color: #FFF; border-color: #FFF; }
input , textarea, input:invalid, textarea:invalid { border: 2px #DDD solid; border-color: rgba(255,255,255,0.7); background: #FAFAFA; background: rgba(255,255,255,0.08); padding: 5px 10px; color: #EFEFEF;
	-webkit-transition: background linear 0.2s; -moz-transition: backgroundbackground linear 0.2s; transition: background linear 0.2s; }
input:hover , textarea:hover , input:focus , textarea:focus { background: #FFF; background: rgba(255,255,255,0.0); }
button , input[type="submit"] { border-color: rgba(255,255,255,0.7); background: rgba(255,255,255,0.6); color: #121314; }
button:hover , input[type="submit"]:hover { background: #DDD; background: rgba(255,255,255,0.8); border-color: rgba(255,255,255,0.8); }
button:active , input[type="submit"]:active { border-color: rgba(255,255,255,0.7); background: rgba(255,255,255,0.7); }
.wp-caption { background: rgba(255,255,255,0.1); }
.wp-caption:hover { background: rgba(255,255,255,0.2); }
#logo { background: rgba(255, 255, 255, 0.6); box-shadow:0 0 0 8px rgba(255,255,255,0.4); border-width: 0; }
#logo:hover { box-shadow:0 0 0 5px rgba(255,255,255,0.3); }
#nav , #next { border-color: rgba(255,255,255,0.4); }
#nav li:hover , #next li:hover { border-color: #D4DA16; border-color: rgba(255,255,255,0.4); }
#nav a , #next a { color: #EFEFEF; }
#ctn_header { margin: 0px 20px 0px 200px; padding-top: 60px; }
#title a { color: #FEFEFE; }
#title a:hover { color: #D4DA16; }
#title h2 { color: #F0F0F0; }
#title_r input , #title_r button { margin: 0 0 10px 16px; background-color: rgba(255,255,255,0.8); box-shadow: 0 0 0 6px rgba(255,255,255,0.4); }
#title_r input:hover , #title_r button:hover { box-shadow: 0 0 0 5px rgba(255,255,255,0.3); background-color: #F9F9F9; }
#title_r button:active { -webkit-transform:scale(0.9); -moz-transform:scale(0.9); -ms-transform:scale(0.9); transform:scale(0.9); box-shadow: 0 0 0 10px rgba(255,255,255,0.3); }
#title_r #tr_search { color: transparent; }
#title_r #tr_search:focus { color: #FEFEFE; background: rgba(255,255,255,0.1) no-repeat; border-width: 4px; }
#ctn , #link { background: #121314; background: rgba(255,255,255,0.15); box-shadow: 0 0 0 8px rgba(255,255,255,0.4); color: #FAFAFA; }
.post { border-color: rgba(255,255,255,0.7); }
.post_time { border-color: rgba(255,255,255,0.7); }
.post_hctn a { color: #FFF; }
.post_hctn a:hover { color: #D4DA16; }
.post_ct a:hover { border: none; }
.post_h_l { border-color: rgba(255,255,255,0.7); }
.post_tag a , .post_c a { background: rgba(255,255,255,0.2); color: #F0F0F0; }
.post_tag a:hover { background-color: rgba(255,255,255,0.3); color: #FFF; border: none; }
.post_c a { background-color: rgba(255,255,255,0.3); color: #F0F0F0; }
.post_c a:hover { background-color: rgba(255,255,255,0.4); }
.more-link { background: rgba(255,255,255,0.9); }
.more-link:hover { background: rgba(255,255,255,0.7); }
.post_hctn .avatar { box-shadow:0 0 0 5px rgba(255,255,255,0.4); margin-top: 7px; }
.format-quote p { color: #FFF; }
.format-quote p:hover { text-shadow: none; }
.format-quote .post_h_quote { color: #CCC; }
#page_nav a , #post_nav a , #cmt-nav a { background: rgba(255,255,255,0.9); color: #121314; box-shadow: none; }
#page_nav a:hover , #post_nav a:hover , #cmt-nav a:hover { background: rgba(255,255,255,0.7); color: #000; }
.comment-meta .avatar { box-shadow:0 0 0 5px rgba(255,255,255,0.4); }
.comment-edit-link , .comment-reply-link { background: rgba(255,255,255,0.3); color: #EEE; }
.comment-edit-link:hover , .comment-reply-link:hover { background: rgba(255,255,255,0.4); color: #FFF; }
#sidebar { margin: 0; padding: 0 5px 15px 200px; color: #CCC; }
#footer { background: none; color: #CECECE; color: rgba(255,255,255,0.2); border-color: rgba(255,255,255,0.4); }
#footer a { color: rgba(255,255,255,0.3); }
#footer:hover { color: rgba(255,255,255,0.5); }
#footer:hover a { color: rgba(255,255,255,0.7); }
#footer a:hover { color: #D4DA16; }

@media screen and (max-width: 600px) {

body { background-size: auto 100%; }
#page { padding: 0; }
#ctn_header { padding-top: 10px; margin: 0 auto 0 auto; }
#title { margin: 0 0 16px 0; }
#sidebar { padding: 0 5px 15px 20px; }
#title_r #tr_search , #title_r #tr_search:hover , #title_r #tr_search:focus { margin: 10px 0; background: url(img/enter.png) right no-repeat; background-size: 12px; background-origin: content-box; border-width: 2px; }
#ctn { margin: 0; }

}